<monitors href="<%= monitors_url %>">
<% @monitors.each do |m| %>	
	<monitor href="<%= monitor_url(m)  %>" id="<%= m.id %>">
		<monitor_url><%= m.monitor_url  %></monitor_url>
	</monitor>
<% end %>
</monitors>