<feeds href="<%= feeds_url%>">
    <query href="<%= feeds_url.to_s + raw("?entity_name={}&metric_name={}&metric_unit={}")%>"/>
<% @feeds.each do |f| %>
	<feed href="<%= f.monitor_feed_url %>" type="<%= f.type %>" id="<%= f.id %>" monitor_id="<%= f.entity.monitor_node.id %>">
		<entity id="<%=f.entity.id%>" href="<%= entity_url(f.entity) %>"/>
        <% if f.feed_type == 0 %>
         	<metric>
        		<name><%= f.metric.name %></name>
        		<unit><%= f.metric.unit %></unit>
        	</metric>
        	<available_measurements><%= f.available_measurements %></available_measurements>
        	<measurement href="<%= f.measurement_url %>"/>
        <% elsif f.feed_type == 1 %>
        	<available_measurements><%= f.available_measurements %></available_measurements>
        	<measurement href="<%= f.measurement_url %>"/>
        	<avg_period><%= f.avg_period %></avg_period>
    		<measure_interval><%= f.measure_interval %></measure_interval>
        <% elsif f.feed_type == 2 %>
        	<available_measurements><%= f.available_measurements %></available_measurements>
        	<measurement href="<%= f.measurement_url %>"/>
        	<% f.simple_feeds.each do |sf| %>
        		<feed href="<%= sf.monitor_feed_url %>">
		        	<metric>
		        		<name><%= sf.metric.name %></name>
		        		<unit><%= sf.metric.unit %></unit>
		        	</metric>
		        	<available_measurements><%= sf.available_measurements %></available_measurements>
	        		<measurement href="<%= sf.measurement_url %>"/>
	        	</feed>
        	 <% end %>
        <% end %>
	</feed>
<% end %>
</feeds>

