html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
body, input, textarea, select {
	font-family: arial, sans-serif;
	font-size: 14px;
}
noscript {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 10000;
}
noscript div {
	position: fixed;
	background: #fff;
	width: 920px;
	height: 280px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	color: #000;
	font-size: 50px;
	padding: 20px;
	line-height: 1.8;
	left: 50%;
	margin-left: -480px;
	top: 50%;
	margin-top: -160px;
}
body {
	background: #eee;
	color: #6a6a6a;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.clearfix {
	clear: both;
}
body > header {
	background: #00aeef;
	border-bottom: 3px solid #fff;
	padding: 15px 0;
}
body > header nav ul li {
	display: inline-block;
}
body > header nav ul li a {
	color: #00aeef;
	background: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 20px;
	display: block;
	font-size: 18px;
}
body > header nav ul li a:hover, body > header nav ul li.active a {
	background: #005288;
	color: #fff;
}
body > footer {
	border-top: 3px solid #fff;
	background: #232B34;
	color: #fff;
	padding: 15px 0;
	text-align: right;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;	
}
#ajaxLoading {
	position: fixed;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: none;
}
#ajaxLoading img {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -13px;
}
#main section {
	margin-top: 20px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	line-height: 1.3;
}
h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
p {
	margin: 10px 0;
}
table {
	width: 100%;
}
table, table tr, table td, table th {
	border: 1px dotted #232B34;
	padding: 5px;
}
table tr th:first-child {
	width: 30px;
}
table tr th:last-child {
	width: 100px;
}
table tr td:last-child, table tr td:first-child {
	text-align: center;
}
table th {
	font-weight: bold;
}
table tr td:last-child a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px;
}
table tr td:last-child a.add {
	background: url('images/edit.png') no-repeat;
}
table tr td:last-child a.delete {
	background: url('images/delete.png') no-repeat;
}
table tr td:last-child a.search {
	background: url('images/search.png') no-repeat;
}
#popup {
	line-height: 1.3;
}
div#main section ul, #popup ul {
	list-style-type: disc;
	margin-left: 25px;
}
div#main section a, #popup a {
	text-decoration: none;
	color: #00AEEF;
}
div#main section input[type=button] {
	float: right;
	background: #00AEEF;
	padding: 5px 10px;
	margin-top: 25px;
	border: 0;
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor: pointer;
	border-radius: 10px;
}
#popup b {
	font-weight: bold;
}
#popup #graph {
	overflow: hidden;
	padding: 10px 30px;
}
#popup #graph .legend {
	display: none;
}
table#loginFormTable {
	margin: 0 auto;
}
table#loginFormTable, table#queryTableForm {
	width: 50%;
	border: 1px none black;
	border-collapse: separate;
	padding: 0px;
}
table#queryTableForm {
	margin-right: 0;
	margin-left:auto;
}
table#loginFormTable td, table#queryTableForm td {
	border: 1px none black;
	border-bottom: 1px dotted #232B34;
}
