	<metrics href="<%= metrics_url()%>" scope="GLOBAL">
<% @metrics.each do |m| %>
       	<metric>
       		<name><%= m.name %></name>
      		<unit><%= m.unit %></unit>
	   	</metric>
<% end %>
	</metrics>
