<operations href="<%= operations_url() %>" />
	<feeds href="<%= feeds_url() %>""/>
	<entities href="<%= entities_url() %>""/>
	<metrics href="<%= metrics_url() %>"/>
	<monitors href="<%= monitors_url() %>"/>