<entities href="<%= entities_url()%>">
	<query href="<%= entities_url.to_s + raw("?entity_name={}&metric_name={}&metric_unit={}")%>"/>
<% @entities.each do |e| %>
	<entity href="<%= entity_url(e) %>">
        <name><%= e.name  %></name>
        <feeds href="<%= entity_feeds_url(e) %>" />
	</entity>
<% end %>
</entities>
